name: Deploy para GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checa o repositório
        uses: actions/checkout@v3

      - name: Configura GitHub Pages
        uses: actions/configure-pages@v3

      - name: Cria arquivos para deploy
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./caminho/para/seus/arquivos  # Substitua pelo diretório correto

      - name: Publica no GitHub Pages
        uses: actions/deploy-pages@v2
